<footer>
        <div class="section-container">
            <address>
                    Avenida de Limeira, 539 - Campos Elíseos - SP (São Paulo) - CEP 01202-001
                    <br />
                    roletop@email.com 
                    <br />
                    +55 11 98456-4534
                    +55 11 0230-6789
                </address>
            <a href="#">Voltar p/ topo</a>
        </div>
</footer>
