@model RoleTopMVC.ViewModels.BaseViewModel

@{
    var navView = (string) ViewData["NavView"];
    var navHome = (string) ViewData["NavHome"];
    var Footer = (string) ViewData["Footer"];
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê TOP</title>
</head>
    <body>
        @if("Home".Equals(@Model.NomeView))
        {
            Html.RenderPartial("_NavHome");
            <link rel="stylesheet" href="~/CSS/Style.css" type="text/css">
        } 
        
        @if("NavView".Equals(navView))
        {
            Html.RenderPartial("_NavLogin");
            <link rel="stylesheet" href="~/CSS/Style-login.css" type="text/css">
        }
        <div id = "Logo">
            <img src="~/IMG/LogoTOP.png" alt="Logo TOP" title="LogoTipo" width="520px" height="420">
        </div>

        @RenderBody()

        @if("Footer".Equals(Footer))
        {
            Html.RenderPartial("_Footer");
            <link rel="stylesheet" href="~/CSS/Style-Footer.css" type="text/css">
        }
    </body>
</html>

