<nav>
        <div class="Options">
        <link rel="stylesheet" href="~/CSS/Style-login.css">
        <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
        <ul>
                <li class="bt-common-menu" ><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index" >Home</a></li>
                <li class="bt-common-menu" ><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Login" >Login</a></li>
                
        </div>
        </ul>
</nav>