<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê TOP</title>
</head>

<body>
    <nav>
        <div class="Menu">
            <link rel="stylesheet" href="CSS/Style.css" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
            <ul>
                <li><a id="bt-Login" asp-controller="Login" asp-action="Login">Login</a></li>
                <li><a href="Rolê TOP.html#Eventos">Eventos</a></li>
                <li><a href="Rolê TOP.html#Quem">Quem somos</a></li>
                <li><a id="bt-Facebook" href="https://www.facebook.com/Rol%C3%AATop-106506047400870/?modal=admin_todo_tour">Facebook</a></li>
                <li><a href="Rolê TOP.html#Sobre o Local">Reservar</a></li>
            </ul>
        </div>
    </nav>
    <div id="logo-area">
        <img src="IMG/Logo.png.png" alt="Logo tipo TOP " title="Logo">
    </div>
    @RenderBody()
    <footer>
        <div class="Menu">
            <address>
                            Avenida de Limeira, 539 - Campos Elíseos - SP (São Paulo)
                            <br />
                            roletop@email.com
                            <br />
                            +55 11 98456-4534
                            +55 11 0230-6789
                        </address>
            <a href="#">Voltar para o topo!</a>
        </div>
    </footer>
</body>

</html>

</html>
