<main>
    <body>
        <div style="padding-top:2em;">

        </div>
        <div class="Login">
            <label for="email">E-mail</label>
            <br/>
            <input id="email" type="text" placeholder="">
            <br>
            <label for="senha">Senha</label>
            <br/>
            <input id="senha" type="password" placeholder="">
            <br>
            <a href="index.html">
                <div style="padding-top:1em;">

        </div>
                <input type="submit" value="Entrar">
            </a>
        </div>
    </body>
</main>
